.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}



.description {
  margin: 0;
  padding: 0;
}

.two-columns {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

.two-columns__paragraph{
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

.two-columns__paragraph_margin_bottom{
  margin-bottom: 30px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  font-style: 600;
}


.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  margin: 0 auto 20px auto;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-style: 600;
}

.section-subtitle {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  margin: auto;
}

.table__cell{
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.table__cell_theme_white {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-style: 600;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 70px auto;
  text-align: center;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  z-index: 9;
  font-style: 600;
}

.feynman__subtitle {
  margin: auto;
  position: relative;
  width:max-content;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  z-index: 9;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  z-index: 100;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  z-index: -2;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-title_theme_dark, .section-subtitle_theme_dark{
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  z-index: -1;
}

.footer__columns{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
  justify-content: space-between;
}

.footer__column_content_copyright{
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  bottom: 18px;
  left: 0;
  position: absolute;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.footer__column-heading {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-style: 600;
}

.footer__column-links {
  margin: 0;
  padding: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-style: normal;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}