.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  z-index: -2;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  z-index: -1;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  bottom: 18px;
  left: 0;
  position: absolute;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.footer__column-heading {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-style: 600;
}

.footer__column-links {
  margin: 0;
  padding: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-style: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}